.headers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    border: solid grey 1px;
    border-bottom: solid rgb(156, 156, 156) 1px;
}

.headers>a {
    background-color: #f1f1f1;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.headers>a.active {
    background: rgb(156, 156, 156);
    color: white;
}

.body {
    border: solid grey 1px;
    border-top: 0px;
}

.body>div {
    margin: 0px;
}

.body>div.tab {
    display: none;
}

.body>div.active {
    background: white;
    padding: 20px;
    display: block;
}